App.xcframework/ios-arm64/App.framework/App filter=lfs diff=lfs merge=lfs -text
DKImagePickerController.xcframework/ios-arm64/DKImagePickerController.framework/DKImagePickerController filter=lfs diff=lfs merge=lfs -text
DKPhotoGallery.xcframework/ios-arm64/DKPhotoGallery.framework/DKPhotoGallery filter=lfs diff=lfs merge=lfs -text
FMDB.xcframework/ios-arm64/FMDB.framework/FMDB filter=lfs diff=lfs merge=lfs -text
Flutter.xcframework/ios-arm64/Flutter.framework/Flutter filter=lfs diff=lfs merge=lfs -text
FlutterPluginRegistrant.xcframework/ios-arm64/FlutterPluginRegistrant.framework/FlutterPluginRegistrant filter=lfs diff=lfs merge=lfs -text
SDWebImage.xcframework/ios-arm64/SDWebImage.framework/SDWebImage filter=lfs diff=lfs merge=lfs -text
SwiftyGif.xcframework/ios-arm64/SwiftyGif.framework/SwiftyGif filter=lfs diff=lfs merge=lfs -text
audio_session.xcframework/ios-arm64/audio_session.framework/audio_session filter=lfs diff=lfs merge=lfs -text
file_picker.xcframework/ios-arm64/file_picker.framework/file_picker filter=lfs diff=lfs merge=lfs -text
flutter_keyboard_visibility.xcframework/ios-arm64/flutter_keyboard_visibility.framework/flutter_keyboard_visibility filter=lfs diff=lfs merge=lfs -text
just_audio.xcframework/ios-arm64/just_audio.framework/just_audio filter=lfs diff=lfs merge=lfs -text
open_filex.xcframework/ios-arm64/open_filex.framework/open_filex filter=lfs diff=lfs merge=lfs -text
path_provider_ios.xcframework/ios-arm64/path_provider_ios.framework/path_provider_ios filter=lfs diff=lfs merge=lfs -text
shared_preferences_ios.xcframework/ios-arm64/shared_preferences_ios.framework/shared_preferences_ios filter=lfs diff=lfs merge=lfs -text
sqflite.xcframework/ios-arm64/sqflite.framework/sqflite filter=lfs diff=lfs merge=lfs -text
url_launcher_ios.xcframework/ios-arm64/url_launcher_ios.framework/url_launcher_ios filter=lfs diff=lfs merge=lfs -text
video_player_avfoundation.xcframework/ios-arm64/video_player_avfoundation.framework/video_player_avfoundation filter=lfs diff=lfs merge=lfs -text
wakelock.xcframework/ios-arm64/wakelock.framework/wakelock filter=lfs diff=lfs merge=lfs -text
App.xcframework/ios-arm64_x86_64-simulator/App.framework/App filter=lfs diff=lfs merge=lfs -text
DKImagePickerController.xcframework/ios-arm64_x86_64-simulator/DKImagePickerController.framework/DKImagePickerController filter=lfs diff=lfs merge=lfs -text
DKPhotoGallery.xcframework/ios-arm64_x86_64-simulator/DKPhotoGallery.framework/DKPhotoGallery filter=lfs diff=lfs merge=lfs -text
FMDB.xcframework/ios-arm64_x86_64-simulator/FMDB.framework/FMDB filter=lfs diff=lfs merge=lfs -text
Flutter.xcframework/ios-arm64_x86_64-simulator/Flutter.framework/Flutter filter=lfs diff=lfs merge=lfs -text
FlutterPluginRegistrant.xcframework/ios-arm64_x86_64-simulator/FlutterPluginRegistrant.framework/FlutterPluginRegistrant filter=lfs diff=lfs merge=lfs -text
SDWebImage.xcframework/ios-arm64_x86_64-simulator/SDWebImage.framework/SDWebImage filter=lfs diff=lfs merge=lfs -text
SwiftyGif.xcframework/ios-arm64_x86_64-simulator/SwiftyGif.framework/SwiftyGif filter=lfs diff=lfs merge=lfs -text
audio_session.xcframework/ios-arm64_x86_64-simulator/audio_session.framework/audio_session filter=lfs diff=lfs merge=lfs -text
file_picker.xcframework/ios-arm64_x86_64-simulator/file_picker.framework/file_picker filter=lfs diff=lfs merge=lfs -text
flutter_keyboard_visibility.xcframework/ios-arm64_x86_64-simulator/flutter_keyboard_visibility.framework/flutter_keyboard_visibility filter=lfs diff=lfs merge=lfs -text
just_audio.xcframework/ios-arm64_x86_64-simulator/just_audio.framework/just_audio filter=lfs diff=lfs merge=lfs -text
open_filex.xcframework/ios-arm64_x86_64-simulator/open_filex.framework/open_filex filter=lfs diff=lfs merge=lfs -text
path_provider_ios.xcframework/ios-arm64_x86_64-simulator/path_provider_ios.framework/path_provider_ios filter=lfs diff=lfs merge=lfs -text
shared_preferences_ios.xcframework/ios-arm64_x86_64-simulator/shared_preferences_ios.framework/shared_preferences_ios filter=lfs diff=lfs merge=lfs -text
sqflite.xcframework/ios-arm64_x86_64-simulator/sqflite.framework/sqflite filter=lfs diff=lfs merge=lfs -text
url_launcher_ios.xcframework/ios-arm64_x86_64-simulator/url_launcher_ios.framework/url_launcher_ios filter=lfs diff=lfs merge=lfs -text
video_player_avfoundation.xcframework/ios-arm64_x86_64-simulator/video_player_avfoundation.framework/video_player_avfoundation filter=lfs diff=lfs merge=lfs -text
wakelock.xcframework/ios-arm64_x86_64-simulator/wakelock.framework/wakelock filter=lfs diff=lfs merge=lfs -text
{}.xcframework/ios-arm64/{}.framework/{} filter=lfs diff=lfs merge=lfs -text
